{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <a class="logo" href="{% url "dashboard" %}">Bookmarks</a>

            {% if request.user.is_authenticated %}

            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">Mi tablero</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url "images:list" %}">Imagenes</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">Personas</a>
                </li>
            </ul>

            {% endif %}

            <span class="user">
            {% if request.user.is_authenticated %}

                Hola {{ request.user.first_name|default:request.user.username }},
                <a href="{% url "logout" %}">Cerrar sesion</a>

            {% else %}

                <a href="{% url "login" %}">Iniciar sesion</a>

            {% endif %}
            </span>
        </div>
        
        {% if messages %}

            <ul class="messages">
                {% for message in messages %}

                <li class="{{ message.tags }}">
                    {{ message|safe }} {% comment %} el filtro "safe se usa para que Django no escape los caracteres especiales" {% endcomment %}
                    <a href="{% url 'dashboard' %}" class="close">x</a>
                </li>

                {% endfor %}
            </ul>

        {% endif %}
        
        {% comment %} Bloque para cargar todo el contenido que extiende de base.html {% endcomment %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

        <script>{% block constsjs %}{% endblock constsjs %}</script>

        <script src={% block domready %}{% endblock domready %}></script>
    </body>
</html>